page-inference {
    #text {
        text-align: center;
    }

    #text2 {
        text-align: center;
        display: inline-block;
        padding-left: 150px;
        padding-right: 30px;
    }

    .mode {
        display: inline-block;
    }

    #input {
        margin-right: 32px;
    }
}
